@media (max-width: 600px) {
    .login-box {
        padding: 30px 20px;
    }

    .login-box h1 {
        font-size: 24px;
    }

    form button {
        padding: 10px 16px;
        font-size: 14px;
    }

    .register-box {
        padding: 15px 20px;
    }

    .register-box h2 {
        font-size: 20px;
    }

    .register-box form input[type="text"],
    .register-box form input[type="password"],
    .register-box form input[type="email"] {
        padding: 10px;
    }

    .track-details-container {
        padding: 20px;
    }

    .track-title {
        font-size: 1.5rem;
    }

    .track-artist {
        font-size: 1rem;
    }

    .track-description {
        font-size: 0.9rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .playlist-section h3 {
        font-size: 1.5rem;
    }

    .primary-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .album-details-container h2 {
        font-size: 2rem;
    }

    .album-details-container p {
        font-size: 1rem;
    }

    .album-details-container h3 {
        font-size: 1.5rem;
    }

    .album-details-container a {
        font-size: 1rem;
    }

    .artist-details-container h2 {
        font-size: 2rem;
    }

    .artist-details-container p {
        font-size: 1rem;
    }

    .artist-details-container h3 {
        font-size: 1.5rem;
    }

    .artist-details-container a {
        font-size: 1rem;
    }

    .edit-profile-container {
        padding: 20px;
        max-width: 90%;
    }

    .current-profile-picture {
        width: 100px;
        height: 100px;
    }

    label, .form-input, button {
        font-size: 14px;
    }

    .save-button, .remove-picture-button {
        width: 100%;
    }

    .login-prompt p {
        font-size: 1rem;
    }

    .give-feedback-btn {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}
