@media (max-width: 600px) {
    .login-box {
        padding: 15px 20px;
    }

    .register-box {
        padding: 15px 20px; /* Less padding for small screens */
    }

    .register-box h2 {
        font-size: 20px; /* Smaller heading size */
    }

    .register-box form input[type="text"],
    .register-box form input[type="password"],
    .register-box form input[type="email"] {
        padding: 10px; /* Slightly smaller padding for inputs on small screens */
    }

    .track-details-container {
        padding: 20px;
    }

    .track-title {
        font-size: 1.5rem;
    }

    .track-artist {
        font-size: 1rem;
    }

    .track-description {
        font-size: 0.9rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .playlist-section h3 {
        font-size: 1.5rem;
    }

    .primary-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .album-details-container h2 {
        font-size: 2rem;
    }

    .album-details-container p {
        font-size: 1rem;
    }

    .album-details-container h3 {
        font-size: 1.5rem;
    }

    .album-details-container a {
        font-size: 1rem;
    }

    .artist-details-container h2 {
        font-size: 2rem;
    }

    .artist-details-container p {
        font-size: 1rem;
    }

    .artist-details-container h3 {
        font-size: 1.5rem;
    }

    .artist-details-container a {
        font-size: 1rem;
    }
}
